<div class="navbar navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <li data-match-route="/home"><a href="#/home"><h1>Deploy2</h1></a></li>
        <li><a href="https://github.com/ericclemmons/deploy2/">Source</a></li>
      </ul>

      <div class="btn-toolbar btn-group pull-right hidden-phone">
        <a class="btn btn-small btn-info" href="https://github.com/ericclemmons/deploy2/archive/master.zip"><i class="icon-download-alt icon-white"></i>&nbsp;Download</a>
      </div>

    </div>
  </div>
</div>
