<IfModule mod_rewrite.c>
    RewriteEngine On

    # Return files directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

    # All else goes to the app
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
